WSO2-DataMaping/DataMapping_RR/Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="CustomerInfo">
    	<xs:sequence>
    		<xs:element name="FName" type="xs:string"></xs:element>
    		<xs:element name="LName" type="xs:string"></xs:element>
    		<xs:element name="DOB" type="xs:string"></xs:element>
    		<xs:element name="Address" type="xs:string"></xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:element name="CustomerInformation" type="CustomerInfo"></xs:element>
</xs:schema>